<header class="app-header">
  Chat System
</header>

<!-- Login Fields -->
<h2>Login</h2>

<form (ngSubmit)="submit()">
  <label>
    Username
    <input [(ngModel)]="username" name="username" required>
  </label>

  <label>
    Password
    <input [(ngModel)]="password" name="password" type="password" required>
  </label>

  <!-- Login Submit Button -->
  <div class="button-container">
  <button type="submit">Login</button>
  </div>
</form>

<p *ngIf="error">{{ error }}</p>

<div class="button-container">
<!-- User Registration Button -->
<button routerLink="/register" class="register-btn">
  Create account
</button>
</div>